.container {
  display: flex;
  height: 100vh;
}
.side-panel {
  width: 250px;
  background-color: #f1f1f1;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  svg{
      fill: #0b344b;
 }
}
.logo img {
  width: 100px;
  margin-bottom: 20px;
}
.tabs {
  margin-top: 20px;
}
.tabs a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px;
}
.tabs a.active, .tabs a:hover {
  background-color: #3498db;
}
.content {
  flex-grow: 1;
  padding: 20px;
}
